/* to make elements visible */

/*
body {
    background-color: LightGray;
}

div {
    border: 1px solid white;
}*/

/* -------------- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #838994;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
}

#header {
  background-color: #FFF;
  width: 100%;
  height: auto;
  overflow: auto;
  position: fixed;
  z-index: 9999;
}

.content {
  max-width: 90%;
  /*height: 70px;*/
/*  width: 80%;*/
  margin: 0 auto;
  padding: 0 4em;
}

.logo {
  vertical-align: middle;
  margin-top: 13.5px;
}

#header .links {
  float: right;
  margin: 0 auto;
}

.links li {
  list-style-type: none;
  display: inline-block;
  margin: 0 0 0 1em;
  height: 72px;
  line-height: 72px;
}

.links li a {
  text-decoration: none;
  color: #838994;
}

.links li:hover {
    color: #383A3D;
    cursor: pointer;
}

#header .links .active {
    color: #383A3D;
    font-weight: 500;
}

/* Body */

.intro {
  background-image: url('../_img/banner.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45.938rem;
  margin: 0 auto;
  padding: 2%;
}

.intro h1, .intro h3 {
  color: white;
  text-align: center;
  font-weight: 300;
}

.intro .content h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}

.intro .content h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}

button {
  font-size: 18px;
  display: block;
  margin: 0 auto;
  color: #FFF;
  text-shadow: none;
  border-style: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  width: 9em;
  background-color: #f15a29;
}

button:hover {
  cursor: pointer;
  background-color: #C4542F;  
}

.bottom {
  overflow: auto;
  display: block;
  width: 100%;
  /*padding: 0 2%;*/
  background-color: #FFF;
  text-align: center;
  /*height: 20rem;*/
}

.bottom h2 {
  font-size: 2.75rem;
  margin-top: 5rem;
  color: #000;
  font-weight: 300;
}

.bottom .content {
  overflow: auto;
  padding: 2%;
  background-color: #FFF;
}

.bottom .cases {
  /*float: left;*/
  width: 32.333%;
  display: inline-block;
  /* styles to assist with debugging */
  /*border: 1px solid black;*/
  box-sizing: border-box;
  height: 4em;
}

.bottom .cases h3 {
  color: #000;
  font-weight: 500;
}

footer {
  display: block;
  margin: 0 auto;
  padding: 2%;
  background-color: #fff;
  text-align: center;
}

footer .content h4 {
  font-size: 18px;
  color: #000;
  font-weight: 300;
}

.social li {
  list-style-type: none;
  display: inline-block;
}

i[class*=fa-times]::before{
   background:transparent;
}

.fa-twitter {
  color: #55acee;
}

.fa-facebook {
  color: #102BA3;
}

.fa-instagram {
  color: #1081A3;
}

.fa-circle {
  color: white;
  border: 1px solid LightGray;
  border-radius: 50%;
}
